@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Ubuntu", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.1rem;

  background: #ffffff;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(207, 228, 250, 1) 100%
  );

  --border-color: rgb(162, 192, 238);
  --border-size: 2px;
}

.rd {
  border: 1px solid red;
}

.links {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.8rem;
}

.link-icon {
  width: 2.4rem;
  height: 2.4rem;
  transition: all 0.2s;
  opacity: 0.4;
  cursor: pointer;
  color: #345677;

  &:hover {
    opacity: 1;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* * {
  outline: 2px solid rgba(118, 118, 255, 0.24) !important;
} */

#app {
  display: flex;
  flex-direction: column;
  /* max-width: 1280px; */
  min-width: 264px;
  margin: 0 auto;
  text-align: center;
  /* border: 1px solid red; */
}

p,
button,
aside,
input {
  margin: 0.4rem;
  padding: 0.4rem 1rem;
  border-radius: 8px;
}

p {
  cursor: default;
  border: var(--border-size) solid transparent;
  transition: background-color 0.2s, border-color 0.2s;
}

p:hover {
  background: rgba(255, 255, 255, 0.2);
  border: var(--border-size) solid var(--border-color);
}

aside {
  cursor: grab;
  transition: background-color 0.2s, border-color 0.2s;
  border: var(--border-size) solid transparent;
  backdrop-filter: blur(6px);
}

aside:hover {
  background: rgba(255, 255, 255, 0.2);
  border: var(--border-size) solid var(--border-color);
}

h2 {
  padding: 0.4rem;
  font-size: 1.6rem;
  line-height: 1.1;
  transition: background-color 0.2s, border-color 0.2s;
  border: var(--border-size) solid transparent;
}

h2:hover {
  background: rgba(255, 255, 255, 0.2);
  border: var(--border-size) solid var(--border-color);
}

button {
  background-color: #f9f9f9;
  border: var(--border-size) solid #bfd3e7;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s;
}
button:hover {
  background-color: white;
  border: var(--border-size) solid var(--border-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
